@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --third: 220.9 39.3% 11%;
        --third-foreground: 210 20% 98%;
        --hover: 201, 70%, 57%;
        --hover-foreground: 201, 70%, 57% 11%;
        --muted: 220 14.3% 85%;
        --muted-foreground: 220 8.9% 65%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --error: 355, 84%, 43%;
        --error-foreground: 346, 78%, 34%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.5rem;
        --gradient: linear-gradient(to right, #FF69B4, #FF1493, #FF00FF, #C71585);
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 25%;
        --muted-foreground: 217.9 10.6% 32%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --error: 350, 82%, 39%;
        --error-foreground: 345, 91%, 25%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
        --gradient: linear-gradient(to right, #FF69B4, #FF1493, #FF00FF, #C71585);
    }

    .theme-light {
        --brand-primary: rgb(47, 112, 193);
        --brand-secondary: rgb(116, 97, 195);
        --brand-alternative: rgb(19, 120, 134);
        --background-site: rgb(249, 249, 249);
        --background-code: rgb(244, 244, 244);
        --text-body: rgb(54, 49, 61);
        --text-comment: rgb(99, 94, 105);
        --text-high-contrast: rgb(49, 49, 49);
        --text-medium-contrast: rgb(99, 94, 105);
        --text-low-contrast: rgb(116, 109, 118);
        --detail-high-contrast: rgb(192, 192, 192);
        --detail-medium-contrast: rgb(234, 234, 234);
        --detail-low-contrast: rgb(240, 240, 242);
        --admonition-note: rgb(46, 109, 188);
        --admonition-warning: rgb(255, 196, 9);
        --admonition-danger: rgb(220, 38, 38);
        --brand-primary-rgb-value: 47, 112, 193;
        --brand-secondary-rgb-value: 116, 97, 195;
        --brand-alternative-rgb-value: 19, 120, 134;
        --background-site-rgb-value: 249, 249, 249;
        --background-code-rgb-value: 244, 244, 244;
        --text-body-rgb-value: 54, 49, 61;
        --text-comment-rgb-value: 99, 94, 105;
        --text-high-contrast-rgb-value: 49, 49, 49;
        --text-medium-contrast-rgb-value: 99, 94, 105;
        --text-low-contrast-rgb-value: 116, 109, 118;
        --detail-high-contrast-rgb-value: 192, 192, 192;
        --detail-medium-contrast-rgb-value: 234, 234, 234;
        --detail-low-contrast-rgb-value: 240, 240, 242;
        --admonition-note-rgb-value: 46, 109, 188;
        --admonition-warning-rgb-value: 255, 196, 9;
        --admonition-danger-rgb-value: 220, 38, 38;
    }

    .theme-dark {
        --brand-primary: rgb(138, 180, 248);
        --brand-secondary: rgb(193, 168, 226);
        --brand-alternative: rgb(136, 186, 191);
        --background-site: rgb(0, 0, 0);
        --background-code: rgb(12, 12, 12);
        --text-body: rgb(222, 222, 222);
        --text-comment: rgb(170, 170, 170);
        --text-high-contrast: rgb(230, 230, 230);
        --text-medium-contrast: rgb(202, 202, 202);
        --text-low-contrast: rgb(170, 170, 170);
        --detail-high-contrast: rgb(101, 101, 101);
        --detail-medium-contrast: rgb(25, 25, 25);
        --detail-low-contrast: rgb(21, 21, 21);
        --admonition-note: rgb(138, 180, 248);
        --admonition-warning: rgb(253, 186, 116);
        --admonition-danger: rgb(220, 38, 38);
        --brand-primary-rgb-value: 138, 180, 248;
        --brand-secondary-rgb-value: 193, 168, 226;
        --brand-alternative-rgb-value: 136, 186, 191;
        --background-site-rgb-value: 0, 0, 0;
        --background-code-rgb-value: 12, 12, 12;
        --text-body-rgb-value: 222, 222, 222;
        --text-comment-rgb-value: 170, 170, 170;
        --text-high-contrast-rgb-value: 230, 230, 230;
        --text-medium-contrast-rgb-value: 202, 202, 202;
        --text-low-contrast-rgb-value: 170, 170, 170;
        --detail-high-contrast-rgb-value: 101, 101, 101;
        --detail-medium-contrast-rgb-value: 25, 25, 25;
        --detail-low-contrast-rgb-value: 21, 21, 21;
        --admonition-note-rgb-value: 138, 180, 248;
        --admonition-warning-rgb-value: 253, 186, 116;
        --admonition-danger-rgb-value: 220, 38, 38;
    }


    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
    }

    body {
        @apply min-h-screen font-inter;
    }

    div {
        @apply box-border;
    }
}

@layer utilities {

    /* OVERTITE*/
    .focus-visible\:ring-2:focus-visible {
        box-shadow: none !important;
    }

    .background-gradient {
        padding: 2px;
        background-image: linear-gradient(to right bottom, #6a5af9, #f62682);
    }

    /* BACKGROUND*/
    .bg-popover {
        background-color: hsl(240, 10%, 3.9%);
    }

    .bg-accent:focus {
        background-color: hsl(240, 3.7%, 15.9%);
    }

    /* TYPOGRAPHY */
    .h1-bold {
        @apply text-[30px] font-bold leading-[140%] tracking-tighter;
    }

    .h1-semibold {
        @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
    }

    .h2-bold {
        @apply text-[24px] font-bold leading-[140%] tracking-tighter;
    }

    .h3-bold {
        @apply text-[18px] font-bold leading-[140%] tracking-tighter;
    }

    .base-semibold {
        @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
    }

    .base-bold {
        @apply text-[14px] font-bold leading-[140%] tracking-tighter;
    }

    .base-medium {
        @apply text-[14px] font-medium leading-[140%];
    }

    .base-regular {
        @apply text-[14px] font-normal leading-[140%];
    }

    .body-medium {
        @apply text-[16px] font-medium leading-[140%];
    }

    .body-bold {
        @apply text-[16px] font-bold leading-[140%];
    }


    .small-semibold {
        @apply text-[12px] font-semibold leading-[140%] tracking-tighter;
    }

    .small-medium {
        @apply text-[12px] font-medium leading-[140%];
    }

    .small-regular {
        @apply text-[12px] font-normal leading-[140%];
    }

    .small-bold {
        @apply text-[12px] font-bold leading-[140%];
    }

    .subtle-semibold {
        @apply text-[10px] font-semibold leading-[140%];
    }

    .tiny-medium {
        @apply text-[8px] font-medium leading-[140%];
    }

    /* UTILITIES */
    .invert-white {
        @apply invert brightness-0 transition;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .flex-start {
        @apply flex justify-start items-center;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 3px;
    }

    /* Box-Shadow*/
    .shadow-b {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(67, 126, 236, 0.6);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(239, 50, 115, 0.6);
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(252, 1, 86, 0.6);
    }

    .custom-scrollbar::-webkit-scrollbar-track:hover {
        background: rgba(0, 89, 250, 0.6);
    }

    .common-container {
        @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
    }

    /* Button */
    .btn-none {
        @apply bg-transparent hover:bg-transparent
    }

    /* Left sidebar */
    .left-sidebar {
        @apply hidden md:flex md:px-3 sm:px-1 pt-2 pb-2 flex-col justify-between
        md:min-w-[220px] min-h-[745px]   sm:min-w-[80px]
        border-r border-gray-600 relative
    }


    /*md:flex*/
    .left-sidebar-link {
        @apply rounded-lg base-medium hover:bg-secondary transition ;
    }

    /* All Users */
    .user-container {
        @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
    }

    .user-grid {
        @apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
    }

    /* Explore */
    .explore-container {
        @apply flex flex-col flex-1 items-center overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
    }

    .explore-inner_container {
        @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
    }

    .explore-search {
        @apply h-12 bg-primary border-none placeholder:text-primary-foreground focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
    }

    /* Home */
    .home-container {
        @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
    }

    .home-posts {
        @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
    }

    .home-creators {
        @apply hidden xl:flex flex-col w-72 2xl:w-[400px] px-6 py-10 gap-10  overflow-scroll custom-scrollbar;
    }

    /* Post Details */
    .post_details-container {
        @apply flex flex-col flex-1 gap-6 overflow-scroll py-4 px-5 md:p-6 custom-scrollbar items-center;
    }

    .post_details-card {
        @apply bg-secondary flex  max-w-5xl lg:max-h-[650px] border-foreground flex-1 items-start  rounded-sm
    }

    .post_details-img {
        @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-background;
    }

    .post_details-info {
        @apply bg-secondary flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
    }

    .post_details-delete_btn {
        @apply p-0 flex gap-3 hover:bg-transparent hover:text-foreground  text-foreground small-medium lg:base-medium;
    }

    /* Profile */
    .profile-container {
        @apply flex flex-col overflow-auto items-center flex-1 gap-10 py-10 px-5 md:p-14 custom-scrollbar;
    }

    .profile-inner_container {
        @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
    }

    .profile-tab {
        @apply flex-center gap-3 py-4 w-48 bg-secondary  transition flex-1 xl:flex-initial;
    }

    /* Saved */
    .saved-container {
        @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
    }

    /* Bottom bar */
    .bottom-bar {
        @apply z-50 flex-between w-full sticky bottom-0 rounded-t-[20px]  px-5 py-4 md:hidden ;
    }

    /* File uploader */
    .file_uploader-img {
        @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
    }

    .file_uploader-label {
        @apply text-foreground text-center small-regular w-full p-4 border-t-[2x] border-accent-foreground;
    }

    .file_uploader-box {
        @apply flex-center flex-col p-7 h-80 lg:h-[612px];
    }

    /* Grid Post List */
    .grid-container {
        @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
    }

    .grid-post_link {
        @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
    }

    .grid-post_user {
        @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
    }


    /* Post Card */
    .post-card {
        @apply rounded-2xl   lg:p-7 w-full max-w-screen-sm border border-secondary px-3 py-4;
    }

    .post-card_img {
        @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[6px] object-cover mb-5;
    }

    .post-card-actions {
        @apply flex flex-row justify-between px-2
    }

    .action-icon {
        @apply mr-5 cursor-pointer hover:text-gray-400 hover:scale-[1.1] font-bold flex-shrink-0
    }

    /*PostCardDetail*/
    .list-comments-postcard-detail {
        @apply overflow-y-auto min-h-[340px] max-h-[360px] custom-scrollbar border-t border-gray-700
    }

    .postcard-skeleton {
        @apply overflow-y-auto w-[500px] min-h-[300px] max-h-[550px] custom-scrollbar border-t border-gray-700
    }

    /* Story */
    .story-card_img {
        @apply h-52 xs:h-[400px] lg:h-[400px] w-[380px] rounded-[6px] object-cover mb-5;
    }

    /* Topbar */
    .topbar {
        @apply sticky top-0 z-50  bg-secondary w-full md:hidden;
    }

    /*md:hidden*/
    /* User card */
    .user-card {
        @apply flex-center flex-col gap-4 border border-primary rounded-[20px] px-5 py-8;
    }

    .creator-card {
        @apply flex-center flex-col gap-2 border border-primary rounded-[20px] px-1 py-2;
    }
}

@layer components {
    /* SHADCN COMPONENTS */
    /* Form */
    .shad-form_label {
        @apply text-foreground !important;
    }

    .shad-form_message {
        @apply text-red-700 !important;
    }

    .shad-input {
        @apply h-12 bg-foreground border-none text-background !important;
        /*focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3*/
    }

    .shad-textarea {
        @apply bg-foreground  text-background gap-2 border-none focus-visible:ring-1 focus-visible:ring-offset-1  !important;
    }

    /* Button */
    .shad-button_primary {
        @apply h-12 bg-secondary hover:bg-secondary-foreground text-primary hover:text-primary-foreground flex gap-2 !important;
    }

    .shad-button_dark_4 {
        @apply h-12 px-5 bg-secondary-foreground hover:bg-primary-foreground hover:text-secondary-foreground flex gap-2 !important;
    }

    .shad-button_ghost {
        @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
    }

    /* CarouselEmbla */
    .embla {
        max-width: 48rem;
        margin: auto;
        --slide-height: 19rem;
        --slide-spacing: 1rem;
        --slide-size: 55%;
    }

    .embla__viewport {
        overflow: visible;
    }

    .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }

    .embla__slide {
        flex: 0 0 var(--slide-size);
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .embla__slide__number {
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        border-radius: 1.8rem;
        font-size: 4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--slide-height);
    }

    .embla__controls {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: space-between;
        gap: 1.2rem;
        margin-top: 1.8rem;
    }

    .embla__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
        align-items: center;
    }

    .embla__button {
        -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        touch-action: manipulation;
        display: inline-flex;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin: 0;
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        width: 3.6rem;
        height: 3.6rem;
        z-index: 1;
        border-radius: 50%;
        color: var(--text-body);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .embla__button:disabled {
        color: var(--detail-high-contrast);
    }

    .embla__button__svg {
        width: 35%;
        height: 35%;
    }

    .embla__dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
    }

    .embla__dot {
        -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        touch-action: manipulation;
        display: inline-flex;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin: 0;
        width: 2.6rem;
        height: 2.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .embla__dot:after {
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        content: '';
    }

    .embla__dot--selected:after {
        box-shadow: inset 0 0 0 0.2rem var(--text-body);
    }

    .embla__slide__number {
        backface-visibility: hidden;
    }

}

/* Chrome, Edge, and Safari */
/**::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/**::-webkit-scrollbar-track {*/
/*    background: var(--primary);*/
/*    border-radius: 3px;*/
/*}*/

/**::-webkit-scrollbar-thumb {*/
/*    background-color: var(--secondary);*/
/*    border-radius: 3px;*/
/*    border: 1px solid var(--primary);*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: rgb(245, 245, 245);*/
/*}*/
